
    <div class="A1" >
        
     //   <!--  pager-sec , hedhy teba3 blaka l move -->
        <section class="A2" >
            <div class="container">
                <div class="pager-pag"> <br /><br />
                    <h3 class="no-mg">Parent Profile</h3>
             
                </div>
            </div>

            
        </section>
    

    <section classe="A3"> micho


        <iframe width="560" height="315" frameborder="0"
                scrolling="no" marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps?
layer=c&panoid=F:AF1QipNTabxbM_v8FepyxEsO2HGT6ydOSYt9J
THTqNPp&ie=UTF8&source=embed&output=svembed&cbp=13%
2C198.05%2C%2C0%2C-5.579999999999998"></iframe><br />



        </section>

    <aside class="aside-container">
                <!-- START Sidebar(left)-->
              
                 
                        <!-- START sidebar nav-->
                        <ul class="sidebar-nav">
                            <!-- START user info-->
                            <li class="has-user-block">
                              
                                        <!-- User picture-->
                                      
                                              <br /><br /> <br /> <br /><br /> <br /> <br />
                                                <img class="img-thumbnail rounded-circle" src="~/Content/images/resources/ms-img10.jpg" alt="Avatar" width="60" height="60"   position="center">
                                                <br/> <br /> <br /> <br />
                                                   <div class="circle bg-success circle-lg"></div>
                                      

                                        <div class="user-block-info"><span class="user-block-name">Hello, Mike</span></div>
                                  
                                
                            </li><!-- END user info-->
                            <!-- Iterates over all sidebar items-->
                           
                            <br />
                            <br />
                            <br />
                            <li class=" "><a href = "#employe" title="Dashboard" data-toggle="collapse" class="collapsed" aria-expanded="false">
                                <em class="fa-2x mr-2 fas fa-address-book"></em><span data-localize="sidebar.nav.DASHBOARD">Employee</span>
                                </a>
                                <ul class="sidebar-nav sidebar-subnav collapse" id="employe" style=""></ul>
                            </li>
                         

                            <li ><a    href="/DashboardParentSurvey/Index" >
                                <em class="fa-2x mr-2 far fa-calendar-check"></em><span data-localize="sidebar.nav.DASHBOARD">Survey</span>
                                </a>
                                <ul class="sidebar-nav sidebar-subnav collapse" id="timesheet" style=""></ul>
                            </li>
                            <li class=" "><a href = "#eval" title="Dashboard" data-toggle="collapse">
                                <em class="fa-2x mr-2 far fa-list-alt"></em><span data-localize="sidebar.nav.DASHBOARD">Training</span>
                                </a>
                                <ul class="sidebar-nav sidebar-subnav collapse" id="eval">
                                    <li class="sidebar-subnav-header">Quiz</li>
                                    <li class=" "><a href = "/Answer/Create" title="Horizontal"><span>Answer</span></a></li>
                                    <li class=" "><a href = "/AnswerChoice/Create" title="Horizontal"><span>AnswerChoice</span></a></li>
                                    <li class=" "><a href = "/Question/Create" title="Horizontal"><span>Question</span></a></li>
                                    <li class=" "><a href = "/" title="Horizontal"><span>Start Quiz</span></a></li>
                                    <li class=" "><a href = "/Quiz" title="Horizontal"><span>Add Quiz</span></a></li>
                                </ul>
                                <ul class="sidebar-nav sidebar-subnav collapse" id="eval">
                                    <li class="sidebar-subnav-header">Training</li>
                                    <li class=" "><a href = "/Training" title="Horizontal"><span>Training</span></a></li>

                                </ul>

                            </li>

                            <li class=" "><a href = "#skills" title="Dashboard" data-toggle="collapse">
                                <em class="fa-2x mr-2 far fa-lightbulb"></em><span data-localize="sidebar.nav.DASHBOARD">Skills</span>
                                </a>
                                <ul class="sidebar-nav sidebar-subnav collapse" id="skills"></ul>
                            </li>

                            <li class=" "><a href = "#eval" title="Dashboard" data-toggle="collapse">
                                <em class="fa-2x mr-2 far fa-list-alt"></em><span data-localize="sidebar.nav.DASHBOARD">Evaluation</span>
                                </a>
                                <ul class="sidebar-nav sidebar-subnav collapse" id="eval"></ul>
                                <ul class="sidebar-nav sidebar-subnav collapse" id="eval"></ul>
                            </li>
                            <li class=" "><a href = "#mission" title="Dashboard" data-toggle="collapse">
                                <em class="fa-2x mr-2 far fa-paper-plane"></em><span data-localize="sidebar.nav.DASHBOARD">Mission</span>
                                </a>
                                <ul class="sidebar-nav sidebar-subnav collapse" id="mission"></ul>
                            </li>

                        </ul><!-- END sidebar nav-->
              
            </aside>








    <!--  l profil al limin-->
   


        <a href="#" title="" class="scrollTop"> <i class="fa fa-arrow-up"></i></a>

    </div><!--wrapper end-->